.mat-card {
    padding: 5% 70px 30px;
}

.mat-card-title, .mat-card-content{
    width: 40%;
    margin: 1% auto;
}

.mat-stroked-button {
    float: right;
    border: 1px solid currentColor;
    background: rgb(97, 102, 106);
}

.right {
    float: right;
}
