<div class="wrapper">
  <div class="left-wrapper">
    <div class="left-upper-wrapper border">
      <h1 class="inner">{{prob.title}}</h1>
      <p class="inner">{{prob.description}}</p>
    </div>
    <div class="left-lower-wrapper border">
      <h1 class="inner">Available Instructions</h1>
      <button mat-raised-button [style]="'background-color:' + inst.color" *ngFor="let inst of prob.instructions"
        class="inst-btn inner" (click)="add(inst)">
        {{inst.name}}
      </button>
      <button mat-fab class="inst-btn inner del-btn" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="right-wrapper">
    <div class="right-upper-wrapper border">
      <ngx-graph [view]="windowSize" [showMiniMap]="true" [links]="links" [nodes]="nodes" [animate]="true"
        [curve]="curve" [draggingEnabled]="false" class="inner" [update$]="update$" [center$]="center$">
        <ng-template #nodeTemplate let-node>
          <svg:g class="node" (click)="select(node.id)">
            <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
              [style]="'fill: '+ node.color" rx="5"/>
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2"
              style="fill:azure">{{node.label}}</svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
            </svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label + " ->"}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>
      </ngx-graph>
    </div>
    <div class="right-lower-wrapper">
      <div class="control-panel border">

      </div>
      <div class="memory-bank border">

      </div>
    </div>
  </div>
</div>