<div class="wrapper">
  <mat-toolbar color="primary">
  <button mat-icon-button [mat-menu-trigger-for]="menu" >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="login" routerLinkActive="active" *ngIf="!isLoggedIn">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>

    <!-- todo -->
    <button mat-menu-item *ngIf="isLoggedIn  && username!=='admin'" routerLink="problems" routerLinkActive="active" >
      <mat-icon>code</mat-icon>
      <span>Coding</span>
    </button>
    <button mat-menu-item *ngIf="isLoggedIn  && username!=='admin'" routerLink="projects" routerLinkActive="active" >
      <mat-icon>book</mat-icon>
      <span>Projects</span>
    </button>
    <button mat-menu-item *ngIf="isLoggedIn  && username!=='admin'" routerLink="center" routerLinkActive="active" >
      <mat-icon>account_circle</mat-icon>
      <span>Center</span>
    </button>
    <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <span class="spacer">2022 Pseudo Coding</span>
  <span *ngIf="isLoggedIn">{{username}}</span>
</mat-toolbar>
</div>
