.wrapper {
  width: 100%;
  padding-top: 5%;
}

.left{
  height: 90%;
  width:55%;
  margin-left: 5%;
  float: left;
}

.right{
  height: 90%;
  width:28%;
  margin-right: 5%;
  float: right;
}

.border {
  border: 2px dashed rgb(135, 7, 96);
  border-radius: 5px;
}

.inner {
  margin: 5%;
}

::ng-deep .mat-tab-label-content{
  color: black;
}

::ng-deep .mat-expansion-panel {
  background-color:chocolate;
  display: inline;
  float: left;
  margin: 5%;
  width: 150px;
}